/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/docu.rasi"
//@theme "/usr/share/rofi/themes/Monokai.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
